article(id="0", class="container-card")
  div(class="card")
    div(class="card-body")
      h4(class="card-title")="Nombre"
      p(class="card-text")= "Precio"
each producto in listaProductos
  article(id=producto.id, class="container-card")
    div(class="card")
      img(src=producto.imagen, alt=producto.nombre)
      div(class="card-body")
        h4(class="card-title")= producto.nombre
        p(class="card-text")= "Precio: "+ producto.precio